<form  action='/result'>
  <h5>Enter dimensions</h5>
  <div class="form-group">
    <label for="height">Height (in inches)</label>
    <input id="height" name="height" type="number" required>
  </div>
  <div class="form-group">
    <label for="length">Length (in inches)</label>
    <input id="length" name="length" type="number" required>
  </div>
  <div class="form-group">
    <label for="depth">Depth (in inches)</label>
    <input id="depth" name="depth" type="number" required>
  </div>
  <h5>Enter weight</h5>
  <div class="form-group">
    <label for="depth">Weight (in oz)</label>
    <input id="weight" name="weight" type="number" required>
  </div>
  <h5>Select delivery speed</h5>
  <select class="form-control" id="time" name="time">
    <option value = "6">6 days</option>
    <option value = "5">5 days</option>
    <option value = "4">4 days</option>
    <option value = "3">3 days</option>
    <option value = "2">2 days</option>
    <option value = "1">1 day</option>
  </select>
  <br>
  <button type="submit" class="btn bg-primary">Check!</button>
</form>
